In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import csv

Obtenemos el GT de SOH de la celda W9

In [26]:
# Obtenemos el ground truth
path = "C:/Users/Bruno/OneDrive - Universidad de Chile/BGMG/CASE/Datasets/Dataset Stanford/W10/W9_diagnostics.csv"
df = pd.read_csv(path)
W9_W10_SOH_values = df.values

path = os.path.join('C:/Users/Bruno/Dropbox','Dataset Stanford', 'W10')
files = os.listdir(path)
files.sort(key=lambda x: int(x[1 : x.find(".")]))
# files.remove('C7.csv')

# Combine files and soh values into a df
data_values = [[file, SOH] for file, SOH in zip(files, W9_W10_SOH_values[1:])]
column_names = ['file', 'SOH']
SOH_gt_df = pd.DataFrame(data_values, columns=column_names)

# Split the SOH column into two new columns: W9 and W10
SOH_gt_df[['W9', 'W10']] = pd.DataFrame(SOH_gt_df['SOH'].tolist(), index=SOH_gt_df.index)

# Drop the original SOH column if you no longer need it
SOH_gt_df.drop(columns=['SOH'], inplace=True)

# Display the updated DataFrame
SOH_gt_df

       file        W9       W10
0    C1.csv  0.991863  0.993366
1    C2.csv  0.978999  0.979203
2    C3.csv  0.968954  0.966177
3    C4.csv  0.955331  0.954701
4    C5.csv  0.952444  0.952462
5    C6.csv  0.943475  0.943691
6    C7.csv  0.935122  0.935875
7    C8.csv  0.932702  0.933866
8    C9.csv  0.932778  0.933686
9   C10.csv  0.930311  0.930635
10  C11.csv  0.926456  0.926975
11  C12.csv  0.923355  0.924197
12  C13.csv  0.920425  0.920280
13  C14.csv  0.915750  0.916399

Insertamos la cantidad de ciclos ejecutados

In [ ]:
EQ_cycles = []
w9_subcycles = [25,
                50,
                47,
                22,
                1,
                1,
                4,
                29,
                37,
                25,
                25,
                25,
                25,
                25]
w10_subcycles = [25,
                50,
                47,
                24,
                2,
                3,
                8,
                29,
                37,
                25,
                25,
                25,
                25,
                25]
SR_0 = 100
SR = 80
acc_subc = 0
for idx,subcycle in enumerate(w9_subcycles):
    eq_cycle = subcycle*(SR/SR_0)
    acc_subc += eq_cycle
    EOL_0 = gt_df["SOH"].values[idx][0]
    eta_0 = EOL_0**(1/acc_subc)
    eq_cycle08 = 1/log_a(0.8,eta_0)
    EQ_cycles.append(eq_cycle08)

gt_df["eq_cycles08"] = EQ_cycles
gt_df